<div class="temperatures_display_bar">
  Temperatures
  <% @temperatures.each do |t| %>
    <div class="temperature_display">
      <%= t %>
    </div>
  <% end %>
</div>

<div class="hot_water_bar">
  Hot water [kWh]
  <div class="hot_water_bar_upper_part">
    <%= kWh_display(@reservoir.remaining_capacity_for_hot_water) %>
  </div>
</div>

<div class="heating_bar">
  Heating [kWh]
  <div class="heating_bar_upper_part">
    <%= kWh_display(@reservoir.remaining_capacity_for_heating) %>
  </div>
</div>
