<section class="temperatures_display">
  <header>Temperatures</header> 
  <% @temperatures.each do |t| %>
    <p class="temperature_display">
      <%= t %>
    </p>
  <% end %>
</section>

<section class="hot_water_display">
  <header>Hot water [kWh]</header>
  <div id="hot_water_display_background">
    <%= kWh_display(@reservoir.remaining_capacity_for_hot_water) %>
    <div id="hot_water_display_bar"></div>
  </div>
</section>

<section class="heating_display">
  <header>Heating [kWh]</header>
  <div id="heating_display_background">
    <%= kWh_display(@reservoir.remaining_capacity_for_heating) %>
    <div id="heating_display_bar"></div>
  </div>
</section>
