// screen dimensions
// The application is designed for my Lumia-800 phone
//
// NOTE! All dimensions must be given in px. 
// No calculations are allowed for parameters to be extracted by dimensions_reader

$lumia800-screen-width: 480px;
$lumia800-screen-height: 800px; 

// Header
$page-header-height: 120px;

//Content
$content-height: 680px;

//Sections
$section-margin: 0px;
$section-padding: 10px;
$section-width: 160px;

// Temperature Display
$temperature-display-width: 160px;

// Hot water capacity bar
$hot-water-bar-width: 160px;

// Heating capacity bar
$heating-bar-width: 160px;