// screen dimensions
// The application is designed for my Lumia-800 phone
//
// NOTE! All dimensions must be given in px. No calculations are allowed.

$lumia800-screen-width: 480px;
$lumia800-screen-heigth: 800px; 

// Header
$page-header-heigth: 120px;

//Content
$content-heigth: 680px;

// Temperature Display
$temperature-display-width: 160px;

// Hot water capacity bar
$hot-water-bar-width: 160px;

// Heating capacity bar
$heating-bar-width: 160px;