// Place all the styles related to the MainPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Dimensions of main elements
@import 'dimensions';

// General
$font-stack: Arial, sans-serif;
$primary-color: #C8C8C8;

// Sections
section {
  font-family: $font-stack;
  background-color: $primary-color;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: $content-height + $page-header-height;
  width: $section-width;
  padding-left: $section-padding;
  padding-right: $section-padding;
  display: inline-box;
  float: left;
  
  header {
    height: $page-header-height;
    font-size: 36px;
    text-align: center;
  }
  
  svg {
    font-size: 30px;
  }
}

#temperature_values {
  font-size: 30px;
  text-align: center;
}



