// Place all the styles related to the MainPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Dimensions of main elements
@import 'dimensions';

// General
$font-stack: Arial, sans-serif;
$primary-color: #C8C8C8;

// Sections
section {
  font-family: $font-stack;
  background-color: $primary-color;
  height: $content-heigth;
  width: $section-width;
  padding-left: $section-padding;
  padding-right: $section-padding;
  display: inline-box;
  float: left;
  border: 1px solid black;
  
  header {
    font-size: 24px;
    text-align: center;
  }
}

#temperature_display {
  font-size: 20px;
  text-align: center;
}

#hot_water_display {
  font-size: 20px;
  text-align: center;
  position: absolute;
  bottom: 0px;
}

